.dash{
  padding: 64px 0;
  min-height: 100vh;
}

.home{
  padding-top: 64px;
  height: 100vh;
  display: flex;
  background-color: rgb(235, 242, 242);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt1{
  font-family: 'Righteous', cursive;
  font-size: calc(35px + 0.5vw);
  max-width: 91%;
}

.get-start{
  background-color: rgb(84, 124, 176);
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  color: black;
}
.get-start:hover{
  background-color: rgb(125, 146, 173);
  cursor: pointer;
}